html {
    width: 100vw;
    height: 100vh;
    background: -webkit-radial-gradient(#666666, #000000); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#666666, #000000); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#666666, #000000); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#666666, #000000); /* Standard syntax (must be last) */
}

.holder {
    top: 50vh;
    margin-top: -100px;
    left: 50vw;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 100px;
	perspective-origin: 50% 100px;
}

.cube {
    width: 100%;
    height: 100%;
	position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cube div {
    margin: 0;
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    background-color: rgba(150, 50, 50, 0.8);
    color: white;
    font-size: 165px;
    text-align: center;
    border: 1px solid rgb(200, 100, 100);
    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.cube .front  {
    -webkit-transform: rotateY(   0deg ) translateZ( 100px );
    transform: rotateY(   0deg ) translateZ( 100px );
}
.cube .back   {
    -webkit-transform: rotateX( 180deg ) translateZ( 100px );
    transform: rotateX( 180deg ) translateZ( 100px );
}
.cube .right  {
    -webkit-transform: rotateY(  90deg ) translateZ( 100px );
    transform: rotateY(  90deg ) translateZ( 100px );
}
.cube .left   {
    -webkit-transform: rotateY( -90deg ) translateZ( 100px );
    transform: rotateY( -90deg ) translateZ( 100px );
}
.cube .top    {
    -webkit-transform: rotateX(  90deg ) translateZ( 100px );
    transform: rotateX(  90deg ) translateZ( 100px );
}
.cube .bottom { 
    -webkit-transform: rotateX( -90deg ) translateZ( 100px ); 
    transform: rotateX( -90deg ) translateZ( 100px ); 
}